@import '../../colors.scss';

.Footer {
    height: 100px;
    background: $navy;
    color: $white;
    display: flex;
    position: fixed;
    top: calc(100% - 60px);
    left: 0;
    width: 100%;
    height: 60px;
    
    justify-content: center;
    align-items: center;
}