@import './colors.scss';





.post-archive {
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: calc(33.333% - 30px);
        height: 300px;
        margin: 15px;
        background: blue;

        @media (max-width: 1023px) {
            width: calc(50% - 30px);
        }

        @media (max-width: 767px) {
            width: calc(100% - 30px);
        }
    }
}

